<!DOCTYPE html>
<html>

<head>

  <!-- Meta Tag -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- SEO -->
  <meta name="description" content="爬客,个人学习记录与分享python,web,spider,爬虫,逆向,工具脚本等技术的博客。">
  <meta name="author" content="zp">


  <title>爬客</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="./static/images/favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="144x144" type="image/x-icon" href="./static/images/favicon/apple-touch-icon.png">

  <!-- All CSS Plugins -->
  <link rel="stylesheet" type="text/css" href="./static/css/plugin.css">

  <!-- Main CSS Stylesheet -->
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">

  <!-- Google Web Fonts  -->
  <link rel="stylesheet" href="./static/css/ft.css">


</head>

<body>



  <!-- Preloader Start -->
  <div class="preloader">
    <div class="rounder"></div>
  </div>
  <!-- Preloader End -->




  <div id="main">
    <div class="container">
      <div class="row">



        <!-- About Me (Left Sidebar) Start -->
        <div class="col-md-3">
          <div class="about-fixed">

            <div class="my-pic">
              <img src="./static/images/top/270-229.png" alt="">
              <!-- <a href="javascript:void(0)" class="collapsed" data-target="#menu" data-toggle="collapse"><i
                  class="icon-menu menu"></i></a> -->
              <!-- <div id="menu" class="collapse">
                <ul class="menu-link">
                  <li><a href="about.html">About</a></li>
                  <li><a href="work.html">Work</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
              </div> -->
            </div>



            <div class="my-detail">

              <div class="white-spacing">
                <span class="my-sub-title">睡七个小时怎么了</span>
                <span class="my-sub-title">Python Developer</span>
                <span class="my-sub-title">知识 汗水 灵感 机遇</span>
              </div>

              <ul class="social-icon">
                <li><a href="https://github.com/sixgad" target="_blank" class="github"><i class="fa fa-github"></i></a>
                </li>
                <!-- <li><a href="#" target="_blank" class="github"><i class="fa fa-qq"></i></a></li> -->
                <li><a href="mailto:278270230@qq.com" target="_blank" class="github"><i class="fa fa-envelope"></i></a>
                </li>
              </ul>

            </div>
          </div>
        </div>
        <!-- About Me (Left Sidebar) End -->





        <!-- Blog Post (Right Sidebar) Start -->
        <div class="col-md-9">
          <div class="col-md-12 page-body">
            <div class="row">


              <div class="sub-title">
                <h1>Paker Blog</h1>
                <a href="index-list.html" target="_blank"><i class="icon-list"></i></a>
              </div>


              <div class="col-md-12 content-page">

                {% for blog in blogs %}
                <!-- Blog Post Start -->
                <div class="col-md-12 blog-post" style="display: block;">
                  <!-- 预留图片展示位置 -->
                  <!-- <div class="post-image">
                      <img src="images/blog/1.jpg" alt="">
                    </div> -->
                  <div class="post-title">
                    <a href={{blog.href}}>
                      <h2>{{blog.title}}</h2>
                    </a>
                  </div>
                  <div class="post-info">
                    <span>{{blog.date}}</span>&nbsp;&nbsp;<i class="fa fa-tags"></i>&nbsp;{% for tag in blog.tags
                    %}<span><a>{{tag}}</a></span>{% endfor %}
                  </div>
                  <!-- <p>描述预留位置</p> -->
                  <a href={{blog.href}} class="button button-style button-anim fa fa-long-arrow-right"><span>Read
                      More</span></a>
                </div>
                <!-- Blog Post End -->
                {% endfor %}



                <div class="text-center">
                  <ul class="pagination pagination-lg">
                    <li><a href={{pagedata.first}}>&laquo;</a></li>
                    {% for paged in pagedata.padding %}
                    <li><a href={{paged.url}} {% if paged.current %} class="active" {% endif %}>{{paged.num}}</a></li>
                    {% endfor %}
                    <li><a href={{pagedata.last}}>&raquo;</a></li>
                  </ul>
                </div>

              </div>

            </div>


          </div>


          <!-- Footer Start -->
          <div class="col-md-12 page-body margin-top-50 footer">
            <footer>
              <!-- <ul class="menu-link">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
              </ul> -->

              <p>Copyright © 2021
                <a href="#" target="_blank">爬客</a> All rights reserved
              </p>
              <p>
                <a href="https://beian.miit.gov.cn/#/Integrated/index" rel="nofollow"
                  target="_blank">辽ICP备2021000509号-1</a>
                <img src="./static/images/top/beian.png"
                  style="display: inline-block;vertical-align: sub;margin-left: 10px;">
                <a target="_blank" href="http://www.beian.gov.cn/portal/index.do" rel="nofollow">辽公网安备
                  21032302210389号</a>
              </p>
              <p>联系邮箱：
                <a href="#" rel="nofollow" target="_blank">278270230@qq.com</a>
              </p>
              <a href="#">
                <div class="top_tag"></div>
              </a>
            </footer>

          </div>
          <!-- Footer End -->


        </div>
        <!-- Blog Post (Right Sidebar) End -->

      </div>
    </div>
  </div>



  <!-- Back to Top Start -->
  <a href="#" class="scroll-to-top"><i class="fa fa-long-arrow-up"></i></a>
  <!-- Back to Top End -->


  <!-- All Javascript Plugins  -->
  <script type="text/javascript" src="./static/js/jquery.min.js"></script>
  <script type="text/javascript" src="./static/js/plugin.js"></script>

  <!-- Main Javascript File  -->
  <script type="text/javascript" src="./static/js/scripts.js"></script>


</body>

</html>